* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
}

#btn-menu1 {
  display: none;
}

.menudesple {
  display: none;
  color: white;
  cursor: pointer;
}

ul li .icono {
  font-size: 40px;
  padding: 5px;
  list-style: none;
}

.claseicono:hover {
  position: relative;
  right: 1px;
  cursor: pointer;
}

.menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  background: #e6f0f4;
  z-index: 70;
  box-shadow: 1px 1px 5px white;
}

.imag2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}

.imagenes2 {
  width: 70px;
  height: 60px;
  border-radius: 5px;
}

.imagenes3 {
  width: 1px;
  background-position: center;
  background-size: cover;
  min-width: 50vw;
  min-height: 50vh;
  margin-left: 25em;
}

.title {
  margin: 0px 5px;
  font-size: 17px;
  color: #000;
}

.menudenav,
.menudenav1 {
  display: flex;
}

ul {
  margin-bottom: 0px;
}

.navegacion {
  margin: 0px 5px;
  padding: 0px 5px;
  list-style: none;
}
.icono5 {
  font-size: 25px;
}
.icono6 {
  font-size: 35px;
  cursor: pointer;
}

ul li .hrefnav {
  text-decoration: none;
  display: flex;
  color: #000;
}

ul li .active,
ul li a:hover {
  color: black;
}

.menudenav .active {
  border-bottom: 3px solid #2966d8;
}

/*--------------------seccion 1---------------------*/
.container1 {
  background: url("../imagenes/imag2.jpg");
  background-position: center;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.container1:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.articulo1 {
  display: flex;
  justify-content: center;
}

.title1 {
  margin: 30px 15px 5px 15px;
  text-align: center;
  font-family: Verdana;
  font-size: 35px;
  padding: 40px 7px 7px 7px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-weight: bold;
  z-index: auto;
}

.frase1 {
  margin: 20px;
  font-family: Verdana;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  color: yellow;
}

.boton1 {
  display: flex;
  justify-content: center;
}

.boton {
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
}

/*--------------------seccion 2---------------------*/

.container2 {
  background: #dee4e7;
  width: 100vw;
}

.cajadearticulo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articulo2 {
  margin: 10px;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  background: #43a8f5;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}
.articulo2-2 {
  padding: 15px;
  text-align: center;
}

.articulo2 h1 {
  font-size: 30px;
  margin: 10px;
}

.articulo2 p {
  font-size: 22px;
}

.title2 {
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}

.texto1 {
  margin: 10px;
  font-family: vardana;
  font-size: 12px;
}

/*--------------------seccion 3---------------------*/
.container3 {
  background: #43a8f5;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.text2 {
  color: #000;
  font-weight: bold;
  font-size: 38px;
  text-decoration: underline;
}

.texto {
  color: rgb(22, 21, 21);
  font-size: 22px;
}

.articulo3 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.caja1 {
  padding: 10px 5px 0px 5px;
  margin: 5px;
  border-radius: 5px;
}

.parrafo {
  font-size: 18px;
}
.cajaparrafo {
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(240, 240, 240, 0.7);
  background: #d1e4e8;
}

/*--------------------seccion 4---------------------*/
.container4 {
  background: url("../imagenes/img9.jpg");
  background-position: center;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}
.container4:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 35, 35, 0.508);
}
.cajadelformulario {
  display: flex;
  justify-content: center;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  padding: 25px;
  background: rgba(53, 194, 117, 0.8);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.icono {
  display: flex;
  justify-content: center;
}

.iconodel {
  font-size: 80px;
  color: black;
}

.icono1 {
  font-size: 20px;
  color: black;
}

input {
  width: 100%;
}

input[type="text"],
input[type="password"] {
  padding: 3px 25px;
}

label {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0px;
}
.mensajesvalidacion {
  width: 270px;
}

.buttoni,
.buttonr {
  border: none;
  width: 200px;
}

.botonesdei {
  display: flex;
  justify-content: center;
}

.boton3 {
  width: 40%;
  margin-top: 5px;
  background: #2b3766de;
}

/*--------------------seccion 5---------------------*/
.container5 {
  background: #dae1e6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icono2 {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.articulo5 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.caja2 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(250, 249, 248, 0.959);
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 20px;
}

.table1 {
  margin: 20px;
}

tr,
td {
  border: 1px solid #000;
  padding: 10px 5px;
}

.administrador {
  text-align: center;
  font-family: vardana;
  font-weight: bold;
}

.admin {
  font-family: vardana;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.textoc {
  font-family: vardana;
  font-size: 40px;
  text-decoration: underline;
}

/*-------------------Footer-------------------*/
.footer1 {
  background: #000000d7;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textofinal {
  text-align: center;
  color: #d1e4e8;
}

@media (max-width: 960px) {
  .menudesple {
    position: relative;
    right: 15px;
    display: block;
    font-size: 30px;
  }

  .menudenav {
    margin-right: -70%;
    position: absolute;
    right: 0px;
    top: 66px;
    transition: all 0.8s;
  }

  .menudenav1 {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: #0c384d;
    border-bottom-left-radius: 20px;
  }
  ul li .hrefnav {
    text-decoration: none;
    display: flex;
    color: #fff;
  }

  #btn-menu1:checked ~ .menudenav {
    margin: 0px;
  }

  .menudenav1 li a {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
  }

  .menudenav1 li a:hover,.menudenav1 li a: {
    background: rgba(0, 0, 0, 0.4);
  }

  .menudenav .active {
    background: rgba(0, 0, 0, 0.4);
  }

  #fp-nav ul li a span {
    display: none;
  }

  #fp-nav ul li .fp-tooltip {
    display: none;
  }
}
